<head>
  <link rel="stylesheet" href="/styles/custom-style.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="login-container">
    <div class="login-form">
      <h1>Register</h1>
      <form action="/register" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="form-group">
          <label for="workstation">Workstation</label>
          <input type="number" name="workstation" id="workstation" required />
        </div>
        <div class="radio-group">
          <input type="radio" name="role" id="role-common" value="common" required />
          <label for="role-common" class="option">Common </label>
          <input type="radio" name="role" id="role-admin" value="admin" required />
          <label for="role-admin" class="option">Administrator </label>
        </div>
        <div class="error"><% if (error) { %> <%= error %> <% } %></div>
        <button type="submit">Register</button>
      </form>
      <div class="link">Already have an account? <a href="/login">Login</a></div>
    </div>
  </div>
</body>
